@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-google-sans-flex), sans-flex;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
}

:root::-webkit-scrollbar {
    display: none;
}

@keyframes infinite-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.infinite-scroll {
    animation: infinite-scroll 20s linear infinite;
}
